/* navbar principal */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e2c47;
    padding: 10px 20px;
    color: white;
}

/* logotipo */
.logo {
    cursor: pointer;
}

/* zona esquerda da navbar */
.navbar-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* links do cliente (palavras clicáveis) */
.nav-links-user {
    display: flex;
    gap: 20px;
}

.nav-links-user a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding: 4px 0;
}

.nav-links-user a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-out;
}

.nav-links-user a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* zona dos links normais */
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: grey;
}

/* avatar e perfil */
.profile-container {
    position: relative;
}

.profile-icon {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #3270AE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-img-placeholder {
    color: white;
    font-size: 1.125rem;
}

.profile-menu {
    position: absolute;
    top: 2.8125rem;
    right: 0;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 0.625rem;
    width: 12.5rem;
    text-align: center;
}

.profile-menu button {
    width: 100%;
    margin-top: 0.625rem;
    padding: 0.5rem;
    border: none;
    background-color: #3270AE;
    color: white;
    font-size: 1.0rem;
    cursor: pointer;
    border-radius: 0.3125rem;
}

.profile-menu button:hover {
    background-color: #255a7a;
}
.profile-details p {
    color: #000; /* preto para alta visibilidade */
    font-weight: 500;
    margin: 0.5rem 0;
}

a.update-profile {
    color: black; /* azul forte e visível */
    font-weight: 500;
    text-decoration: none;
}

.update-profile:hover {
    text-decoration: underline;
}

